/* botao sem bg */
.botao-sembg{
  padding: 20px 40px;
  border: 1px solid var(--cor-p1);
  color: var(--cor-n8);
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.50;
}

.botao-combg{
  background-color: var(--cor-p1);
  padding: 20px 40px;
  border: 1px solid var(--cor-p1);
  color: var(--cor-n1);
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.50;
}

.botao-combg:hover{
  background-color: var(--cor-p2);
}

@media(max-width:800px){
  .intro-botoes .botao-combg{
    padding: 20px;
    color: var(--cor-n1);
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25;
  }
  .intro-botoes .botao-sembg{
    padding: 20px;
    font-size: 1rem;
    line-height: 1.25;
  }
}
