.formacao-bg{
background-color:var(--cor-p6) ;
}

.formacao-conteudo{
  padding-top: 60px;
  padding-bottom: 60px ;
}

.formacao-conteudo h2{
  padding-bottom: 32px;
}

.formacao-conteudo button{
  padding-bottom:8px;
  padding-top: 12px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  border: none;
  background: none;
  width: 100%;
  text-align: start;
}

.formacao-conteudo button::before{
  content: "";
  display: inline-block;
  width: 16px;
  height: 8px;
  background-color: var(--cor-p1);
}

.formacao-conteudo button::after{
  content: "";
  display: inline-block;
  width: 14px;
  height: 6px;
  background-image: url("../img/seta-abrir\ 1.svg");
  transition: 0.3s;
}

.formacao-conteudo button:hover::after, .formacao-conteudo button[aria-expanded="true"]::after{
transform: rotate(180deg);
}

.formacao-conteudo dd{
  display: none;
}

.formacao-conteudo dd.mostrar{
  display: block;
}

.formacao-conteudo dd{
  padding-left: 30px;
  padding-bottom: 8px;
}

.formacao-conteudo a:hover{
  color: var(--cor-n4);
}

.formacao-conteudo a{
  padding: 0;
}

.formacao-conteudo dl > div {
  padding:20px;
}

.formacao-conteudo dl > div:nth-child(odd){
  background-color:var(--cor-p7);
}

@media(max-width:800px){
  .formacao-conteudo{
    padding-top: 30px;
    padding-bottom: 30px ;
  }
  .formacao-conteudo h2{
    padding-bottom: 16px;
  }
}