nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.menu-desk ul {
  display: flex;
  gap: 40px;
}

.menu-mobile-icon {
  display: none;
}

.menu-mobile {
  display: none;
}

.menu-desk li{
  border-bottom: 2px solid transparent;
}

.menu-desk li:hover{
  border-bottom: 2px solid var(--cor-p1);
  transition: 0.2s;
}

@media (max-width: 800px) {
  .nav-list {
    display: none;
  }
  .botao-contato {
    display: none;
  }
  .menu-mobile-icon {
    display: block;
    cursor: pointer;
  }
  .menu-mobile ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 12px;
  }
  .menu-mobile .nav-item{
    display: block;
  }
  .open{
    display: block;
  }
}
