header .menu {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  align-items: center;
  place-content: space-between;
  gap: 20px;
}

.menu-itens {
  display: flex;
  align-items: center;
  gap: 40px;
}
.menu-itens a::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: transparent;
}

.menu-itens a:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--cor-p1);
}

.menu-mb {
  display: none;
}

.botao-menu-mob {
  display: none;
}

.menu-itens-mob {
  display: none;
}

@media (max-width: 800px) {
  .menu-itens-contato {
    display: none;
  }
  .menu-itens {
    display: none;
  }
  .menu-mb {
    display: flex;
    flex-direction: column;
  }
  .botao-menu-mob {
    display: block;
    position: relative;
  }
  .menu-itens-mob {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
  }
}
